#contenedor{
    height: 100vh;
    width: 100vw;
    background-image: url('/src/assets/Imagen1.jpg');
    background-size: cover;
}

.inicio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.titulo{
    color:red;
}